@import 'variables.css';

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  src: url('../public/fonts/Inter.var.woff2') format('woff2');
}

:root {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter var', -apple-system, BlinkMacSystemFont, Segoe UI,
      Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
      sans-serif;
  }
}
html,
body {
  padding: 0;
  margin: 0;
  color: black;
  background: var(--background);
  height: 100dvh;
  -webkit-font-smoothing: antialiased;
}

[data-theme='arc'] html,
[data-theme='arc'] body {
  color: var(--arc-palette-title);

  background: linear-gradient(
    90deg,
    var(--arc-background-gradient-color1) 0%,
    var(--arc-background-gradient-color0) 100%
  );

  background-color: var(--arc-background-simple-color);
}

[data-theme='dark'] html {
  color-scheme: dark;
}
[data-theme='dark'] html,
[data-theme='dark'] body {
  color: white;
  /* background: var(--background); */
}

body {
  display: grid;
  place-items: center;
  /* height: 90vh; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@supports (corner-shape: squircle) {
  * {
    corner-shape: squircle;
  }
}

.timer {
  font-variant-numeric: tabular-nums;
}

.controls {
  display: flex;
  gap: 0.5rem;
}

.SwitchRoot {
  all: unset;
  width: 38px;
  height: 21px;
  background-color: var(--switch-bg);
  box-shadow: inset 0 0 0 1px var(--switch-border);
  border-radius: 9999px;
  position: relative;
  -webkit-tap-highlight-color: var(--switch-tap-highlight);
  cursor: pointer;
  transition: box-sh 150ms ease;
}
.SwitchRoot:focus {
  box-shadow: 0 0 0 2px var(--switch-focus);
}
.SwitchRoot:hover {
  box-shadow: inset 0 0 0 1px var(--switch-bg-checked);
}
.SwitchRoot[data-state='checked'] {
  background-color: var(--switch-bg-checked);
  box-shadow: inset 0 0 0 1px var(--switch-border-checked);
}

.SwitchThumb {
  display: block;
  width: 15px;
  height: 15px;
  background-color: var(--switch-thumb);
  border-radius: 9999px;
  box-shadow: 0 0.5px 1px var(--switch-thumb-shadow);
  transition: transform 150ms ease;
  transform: translateX(3px);
  will-change: transform;
}
.SwitchThumb[data-state='checked'] {
  transform: translateX(20px);
}

/* TOAST */
.ToastViewport {
  --viewport-padding: 25px;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: var(--viewport-padding);
  gap: 10px;
  width: 390px;
  max-width: 100vw;
  margin: 0;
  list-style: none;
  z-index: 2147483647;
  outline: none;
}

.ToastRoot {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background-color: var(--toast-bg);
  color: var(--toast-text);
  border: 1px solid var(--toast-border);
  border-radius: 6px;
  padding: 15px;
  list-style: none;
}
.ToastRoot[data-state='open'] {
  animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.ToastRoot[data-state='closed'] {
  animation: hide 100ms ease-in;
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
  to {
    transform: translateX(0);
  }
}

.ToastTitle {
  grid-area: title;
  margin-bottom: 5px;
  font-weight: 500;
  color: black;
  font-size: 15px;
}

.ToastDescription {
  grid-area: description;
  margin: 0;
  color: black;
  font-size: 13px;
  line-height: 1.3;
}

.ToastAction {
  grid-area: action;
}

.SliderRoot {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  touch-action: none;
  width: 200px;
  height: 20px;
  cursor: pointer;
}

.SliderTrack {
  background-color: var(--slider-track);
  position: relative;
  flex-grow: 1;
  border-radius: 9999px;
  height: 3px;
}

.SliderRange {
  position: absolute;
  background-color: var(--slider-range);
  border-radius: 9999px;
  height: 100%;
}

.SliderThumb {
  display: block;
  width: 20px;
  height: 20px;
  background-color: var(--slider-thumb);
  box-shadow: 0 0.5px 1px var(--switch-thumb-shadow);
  border-radius: 10px;
}
.SliderThumb:hover {
  background-color: var(--slider-thumb);
}
.SliderThumb:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--slider-focus);
}

.button {
  all: unset;
  background-color: var(--button-bg);
  padding: 0 15px;
  font-size: 0.8125rem;
  height: 30px;
  border-radius: 6px;
  border: 1px solid var(--button-border);
  cursor: pointer;
  color: var(--button-text);
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: var(--button-bg-hover);
}

@import './pomodoro.css';
