.pomodoro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  place-items: center;
  height: 96vh;
  height: 100dvh;
  padding-top: 25vh;
}

.container-outer {
  border: 1px solid var(--timer-bg-border);
  padding: 4px;
  border-radius: 28px;
  background-color: var(--timer-bg);
  -webkit-mask-image: -webkit-radial-gradient(#fff, #000);
}

.container-outer:before {
  content: '';
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.4s ease;
  pointer-events: none;
}

.container-outer.active:before {
  content: '';
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 999px;
  background: conic-gradient(
      from 0deg at 50% 50%,
      var(--grayA1) 0deg,
      var(--gray12) 180deg,
      var(--grayA1) 232.5deg,
      var(--grayA1) 358.13deg,
      var(--grayA1) 360deg
    ),
    var(--gray1);
  /* box-shadow: 0 24px 32px 2px var(--gray100); */
  animation: rotate 30s linear infinite;
  /* transition: opacity 0.4s ease; */
}

[data-theme='arc'] .container-outer.active:before {
  background: conic-gradient(
      from 0deg at 50% 50%,
      var(--arc-palette-backgroundExtra) 0deg,
      var(--arc-palette-cutoutColor) 180deg,
      var(--arc-palette-backgroundExtra) 232.5deg,
      var(--arc-palette-backgroundExtra) 358.13deg,
      var(--arc-palette-backgroundExtra) 360deg
    ),
    var(--arc-palette-background);
}

@keyframes rotate {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  25% {
    transform: translateX(-32px) rotate(90deg);
  }
  75% {
    transform: translateX(32px) rotate(270deg);
  }
  100% {
    transform: translateX(0) rotate(360deg);
  }
}

.container-inner {
  border: 1px solid var(--timer-fg-border);
  border-radius: 24px;
  background-color: var(--timer-fg);
  backdrop-filter: blur(100px);
  min-width: 430px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.session {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  gap: 4px;
}

.time {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 12px 0;
}

.timer {
  font-weight: 700;
  font-size: 64px;
  letter-spacing: -1.43px;
  font-feature-settings: 'tnum' on, 'lnum' on, 'ss01' on;
  margin: 0;
  color: var(--timer-text);

  display: flex;
  align-items: center;
  /*   transform: translateY(-6px); */

  height: 0.85em;
  padding-bottom: 0.23em;

  /* number contaner fade */
  --background: #ffffff;
  --color: rgba(0, 0, 0, 0.5);
  --height: 0.85em;
  --width: 5px;
  --fade-stop: 90%;
  /* Bleed in or out from the container */
  --offset: 0px;

  width: calc(100% + var(--offset));
  height: var(--height);
  left: calc(var(--offset) / 2 * -1);

  mask-composite: exclude;
  -webkit-mask: linear-gradient(
      to bottom,
      var(--background) var(--fade-stop),
      transparent
    ),
    linear-gradient(to top, var(--background) var(--fade-stop), transparent),
    linear-gradient(black, black);
}

.digit-group {
  display: inline-flex;
  align-items: center;
}

.digit-container {
  position: relative;
  display: inline-block;
  width: 1ch;
  height: 1em;
  overflow: hidden;
}

.digit-container > span {
  position: absolute;
  top: 0;
  left: 0;
}

.messageContainer {
  height: 16px;
}

.message {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.04px;
  color: var(--timer-subtext);

  position: relative;
  display: inline-block;
}

.dials-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  display: flex;
  margin-top: 40px;
}

.dial {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: conic-gradient(
    var(--dial-bg-inactive) 0%,
    var(--dial-bg-inactive) 100%
  );
  scale: 1;
  transition: border 0.15s ease-out, box-shadow 0.15s ease-out,
    scale 0.15s ease-out;
  will-change: border, box-shadow, scale;
}

.dial[data-active='true'] {
  background: conic-gradient(var(--dial-bg-active) 0%, transparent);
  box-shadow: 0px 0px 8px 3px var(--dial-shadow);
  border: 1px solid var(--dial-border);
  scale: 1.1;
}

.settingsButton {
  display: flex;
  align-items: center;
  padding: 4px 12px 4px 4px;
  gap: 5px;
  margin-bottom: 48px;

  background: var(--settings-button-bg);
  color: var(--settings-button-text);
  border: none;
  border-radius: 24px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  z-index: 10;
}

.settings {
  color: var(--overlay-text);
  background-color: var(--overlay-bg);
  border: 1px solid var(--overlay-border);
  backdrop-filter: blur(10px);
  padding: 16px 20px;
  border-radius: 24px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 32px;
  max-width: 90vw;
  min-width: 300px;
}

.shortcuts > h4,
.sound > h4,
.notif > h4,
.theme > h4 {
  margin: 0;
  margin-bottom: 12px;
  color: var(--overlay-heading);
}

.soundAndNotif {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.settingsRight {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.shortcuts > p {
  line-height: 1.5;
  font-size: 13px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.switch {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.sound > form,
.soundAndNotifItems {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.volume-control {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

/* .themeButtons {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
} */

/* select from radix */
.SelectTrigger {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  padding: 0 15px;
  font-size: 13px;
  line-height: 1;
  height: 35px;
  gap: 5px;
  background-color: var(--button-bg);
  border: 1px solid var(--button-border);
  color: var(--button-text);
  box-shadow: 0 2px 10px var(--blackA7);
}
.SelectTrigger:hover {
  background-color: var(--button-bg-hover);
}
.SelectTrigger:focus {
  box-shadow: 0 0 0 2px var(--grayA12);
}

.SelectIcon {
  color: Var(--grayA11);
  transform: translateY(2px);
}

.SelectContent {
  overflow: hidden;
  background-color: var(--select-content-bg);
  border-radius: 6px;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
}

.SelectViewport {
  padding: 5px;
}

.SelectItem {
  font-size: 13px;
  line-height: 1;
  color: var(--select-text);
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 35px 0 25px;
  position: relative;
  user-select: none;
}
.SelectItem[data-disabled] {
  color: var(--select-text-disabled);
  pointer-events: none;
}
.SelectItem[data-highlighted] {
  outline: none;
  background-color: var(--select-bg-highlighted);
  color: var(--select-text-highlighted);
}

.SelectLabel {
  padding: 0 25px;
  font-size: 12px;
  line-height: 25px;
}

.SelectItemIndicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.SelectScrollButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  background-color: white;
  color: var(--violet11);
  cursor: default;
}
/* media query screen size under 450px */
@media (max-width: 450px) {
  .pomodoro {
    padding-top: 8px;
  }

  .container-inner {
    min-width: 90vw;
  }

  .time {
    gap: 16px;
  }

  .settingsButton {
    margin-bottom: 24px;
  }
}

.torphText {
  display: inline-block;
}
